@model CNPMNC.Data.Models.ChiTietPKB

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/QuanLy/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit</h2>

<h4>ChiTietPKB</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ChiTietPKBID" />
            <div class="form-group">
                <label asp-for="PhieuKhamBenhID" class="control-label"></label>
                <select asp-for="PhieuKhamBenhID" class="form-control" asp-items="ViewBag.PhieuKhamBenhID"></select>
                <span asp-validation-for="PhieuKhamBenhID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuong" class="control-label"></label>
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThuocID" class="control-label"></label>
                <select asp-for="ThuocID" class="form-control" asp-items="ViewBag.ThuocID"></select>
                <span asp-validation-for="ThuocID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonViID" class="control-label"></label>
                <select asp-for="DonViID" class="form-control" asp-items="ViewBag.DonViID"></select>
                <span asp-validation-for="DonViID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CachDungID" class="control-label"></label>
                <select asp-for="CachDungID" class="form-control" asp-items="ViewBag.CachDungID"></select>
                <span asp-validation-for="CachDungID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

