{% extends "admin/layout_admin.html" %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h2>Details</h2>
    {% if role == 'admin' %}

        <div>
            {% if data is not none %}
                {% for key, value in data.items() %}
                    <hr/>
                    <dl class="row">
                        <dt class="col-sm-2">
                            {{ key }}
                        </dt>
                        <dd class="col-sm-10">
                            {{ value }}
                        </dd>
                    </dl>
                {% endfor %}


                </div>
                <div>
                    <a href="{{ url_for('usage_route.usage_edit', id = data.id) }}">Edit</a>
                    |
                    <a href="{{ url_for('usage_route.usage_index') }}">Back to List</a>

                </div>
            {% else %}
                <a href="{{ url_for('usage_route.usage_index') }}">Back to List</a>
            {% endif %}
    {% endif %}
{% endblock %}