{% extends 'admin/layout_admin.html' %}
{% block content %}
    <h2>title</h2>
    {% if role == 'admin' %}

        <div class="row">
            <div class="col-md-8">
                {% if data is not none %}
                    <form action="{{ url_for('usage_route.usage_edit', id =data.id) }}" method="post">

                        <h4>Edit Usage.</h4>
                        <hr/>

                        <dl class="row">
                            <dt class="col-sm-3">Usage</dt>
                            <div class="form-group col-sm-7">
                                <input type="text" class="form-control" name="name" aria-describedby="emailHelp"
                                       value="{{ data.usage }}">
                            </div>


                        </dl>


                        <button type="submit" class="btn btn-default btn-success">
                            Edit
                        </button>
                        <a href="{{ url_for('usage_route.usage_index') }}" class="btn btn-default">
                            Back
                        </a>
                    </form>
                {% else %}
                    <a href="{{ url_for('usage_route.usage_index') }}" class="btn btn-default">
                        Back
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}