{% extends 'admin/layout_admin.html' %}
{% block content %}
    <h2>title</h2>
    <div class="row">
        <div class="col-md-8">
            {% if data is not none %}
                <form action="{{ url_for('admin_edit', id =data.id) }}" method="post">

                    <h4>Edit account.</h4>
                    <hr/>

                    <dl class="row">
                        <dt class="col-sm-3">Email</dt>
                        <div class="form-group col-sm-7">
                            <input type="email" class="form-control" name="email" aria-describedby="emailHelp"
                                   value="{{ data.email }}">
                        </div>

                        <dt class="col-sm-3">Fullname</dt>
                        <div class="form-group col-sm-7">
                            <input type="text" class="form-control" name="fullname" aria-describedby="emailHelp"
                                   value="{{ data.fullname }}">
                        </div>

                        <dt class="col-sm-3">Mobile number</dt>
                        <div class="form-group col-sm-7">
                            <input type="text" class="form-control" name="mobile" aria-describedby="emailHelp"
                                   value="{{ data.mobile }}">
                        </div>
                    </dl>
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="id" aria-describedby="emailHelp"
                               value="{{ data.id }}">
                    </div>


                    <button type="submit" class="btn btn-default btn-success">
                        Edit
                    </button>
                    <a href="{{ url_for('admin_index') }}" class="btn btn-default">
                        Back
                    </a>
                </form>
            {% else %}
                <a href="{{ url_for('admin_index') }}" class="btn btn-default">
                    Back
                </a>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}