{% extends 'admin/layout_admin.html' %}
{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {#    if not logged in yet then do not show#}
    <h1>Management centre</h1>
    <br>

    <div class="row" style="margin-bottom:60px">
        <div class="col-sm-3" style="height:100px">
            <a style="font-size:20px;color:brown" href="{{ url_for('patient_route.patient_index') }}">
                <img src="{{ url_for('static', filename = 'images/icon/ListPatienLogo.png') }}" width="100px"
                     height="100px"/> DS Khám Bệnh</a>

        </div>

        <span class="col-1"></span>
        <div class="col-sm-3" style="height:100px">
            <a style="font-size:20px;color:brown" href="{{ url_for('medical_bill_route.create_medical_bill') }}">
                <img src="{{ url_for('static', filename='images/icon/medical-records.png') }}" width="100px"
                     height="100px"/> Lập PKB</a>

        </div>


        <span class="col-1"></span>
        <div class="col-sm-3" style="height:100px">
            <a style="font-size:20px;color:brown" href="{{ url_for('accountant_route.profit_index') }}">
                <img src="{{ url_for('static', filename='images/icon/stats.png') }}" width="100px" height="100px"/> Báo
                cáo Doanh Thu</a>

        </div>
        <span class="col-md-12" style="height: 30px"></span>
        <div class="col-sm-3" style="height:100px">
            <a style="font-size:20px;color:brown" href="{{ url_for('receipt_route.create_receipt') }}">
                <img src="{{ url_for('static', filename='images/icon/approve.png') }}" width="100px" height="100px"/>
                Lập Hóa đơn</a>

        </div>
        <span class="col-1"></span>
        <div class="col-sm-3" style="height:100px">
            <a style="font-size:20px;color:brown;icon:url({{ url_for('static', filename='images/icon/clipboard.png') }})" href="{{ url_for('drug_route.create_drug') }}"
            > <img
                    src="{{ url_for('static', filename='images/icon/syringe.png') }}"
                    width="100px" height="100px"/> Thêm thuốc...</a>

        </div>
    </div>

{% endblock %}