
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/QuanLy/Views/Shared/_LayoutAdmin.cshtml";
}

    <div class="container" style="text-align:center;margin-bottom:100px">
        <h1>Trung tâm quản lý phòng mạch</h1>
        <br />
        <h2>Vui lòng chọn thao tác</h2>
    </div>

<div class="row" style="margin-bottom:60px">
    <div class="col-sm-3" style="height:100px">
       
        <a style="font-size:20px;color:brown" asp-area="QuanLy" asp-controller="BenhNhans" asp-action="Index"> <img src="~/images/icon/patientlogo.png" width="100px" height="100px" /> Bệnh nhân</a>
    </div>
    <span class="col-1"></span>
    <div class="col-sm-3" style="height:100px">
        <a style="font-size:20px;color:brown" asp-area="QuanLy" asp-controller="DSBenhNhans" asp-action="Index"> <img src="~/images/icon/ListPatienLogo.png" width="100px" height="100px" /> DS Bệnh nhân</a>

    </div>
    <span class="col-1"></span>
    <div class="col-sm-3" style="height:100px">
        <a style="font-size:20px;color:brown" asp-area="QuanLy" asp-controller="DSKhamBenhs" asp-action="Index"> <img src="~/images/icon/dsKhamBenh.png" width="100px" height="100px" /> DS Khám bệnh</a>

    </div>
</div>
<div class="row" style="margin-bottom:60px">
    <div class="col-sm-3" style="height:100px">
        <a style="font-size:20px;color:brown" asp-area="QuanLy" asp-controller="PhieuKhamBenhs" asp-action="Index"> <img src="~/images/icon/medical-records.png" width="100px" height="100px" /> Lập PKB</a>

    </div>
    <span class="col-1"></span>
    <div class="col-sm-3" style="height:100px">
        <a style="font-size:20px;color:brown" asp-area="QuanLy" asp-controller="ChiTietPKBs" asp-action="Index"> <img src="~/images/icon/medical-history.png" width="100px" height="100px" /> Chi tiết PKB</a>

    </div>
    <span class="col-1"></span>
    <div class="col-sm-3" style="height:100px">
        <a  style="font-size:20px;color:brown;icon:url(/images/icon/clipboard.png)," asp-area="QuanLy" asp-controller="BaoCaoSuDungThuocs" asp-action="Index"> <img src="~/images/icon/clipboard.png" width="100px" height="100px" /> Báo cáo SDT</a>

    </div>
</div>
<div class="row" style="margin-bottom:60px">
    <div class="col-sm-3" style="height:100px">
        <a style="font-size:20px;color:brown" asp-area="QuanLy" asp-controller="PhieuKhamBenhs" asp-action="Index"> <img src="~/images/icon/stats.png" width="100px" height="100px" /> Báo cáo D-Thu</a>

    </div>
    <span class="col-1"></span>
    <div class="col-sm-3" style="height:100px">
        <a style="font-size:20px;color:brown" asp-area="QuanLy" asp-controller="ChiTietPKBs" asp-action="Index"> <img src="~/images/icon/approve.png" width="100px" height="100px" /> Lập Hóa đơn</a>

    </div>
    <span class="col-1"></span>
    <div class="col-sm-3" style="height:100px">
        <a style="font-size:20px;color:brown;icon:url(/images/icon/clipboard.png)," asp-area="QuanLy" asp-controller="BaoCaoSuDungThuocs" asp-action="Index"> <img src="~/images/icon/syringe.png" width="100px" height="100px" /> Thêm thuốc...</a>

    </div>
</div>
