{% extends "admin/layout_admin.html" %}
{% block content %}
    <h2>{{ user.username }}</h2>
    <div class="row">
        <div class="col-md-4">

            {#            {% with messages = get_flashed_messages() %}#}
            {#                {% if messages %}#}
            {#                    <ul class=flashes>#}
            {#                        {% for message in messages %}#}
            {#                            <li>{{ message }}</li>#}
            {#                        {% endfor %}#}
            {#                    </ul>#}
            {#                {% endif %}#}
            {#            {% endwith %}#}

            <form action="{{ url_for('user_route.register') }}" method="post">
                <h4>Create a new account.</h4>
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" name="username" aria-describedby="emailHelp"
                           placeholder="Username">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" name="password" aria-describedby="emailHelp"
                           placeholder="Password">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="mobile" aria-describedby="emailHelp"
                           placeholder="Mobile phone number">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="fullname" aria-describedby="emailHelp"
                           placeholder="Full name">
                </div>
                {% if user is not none %}
                    {% if user.role != 'user' %}
                        <select class="form-control" name="role">
                            {% if user.role == 'admin' %}
                                <option value="admin">Admin</option>
                            {% endif %}
                            <option value="moderator">Moderator</option>
                        </select>
                    {% endif %}
                {% endif %}
                <button type="submit" class="btn btn-default btn-success">
                    Register
                </button>

                {#                <button type="submit" class="btn btn-default">#}
                {#                    Back#}
                {#                </button>#}
            </form>
        </div>
        <div class="col-md-8">
        </div>
    </div>
{% endblock %}