{% extends 'admin/layout_admin.html' %}
{% block content %}

    <h1>Delete</h1>
    {% if role == 'admin' %}

    <div>
        <hr/>
        <div>
            {% if data is not none %}
                {% for key, value in data.items() %}
                    <hr/>
                    <dl class="row">
                        {#            key#}
                        <dt class="col-sm-2">
                            {{ key }}
                        </dt>

                        {#            value#}
                        <dd class="col-sm-10">
                            {{ value }}
                        </dd>
                    </dl>
                {% endfor %}
            {% endif %}
        </div>
        <form action="{{ url_for('drug_route.drug_delete', id = data.id) }}" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger"/> |
            <a href="{{ url_for('drug_route.drug_index') }}">Back to List</a>
        </form>
    </div>
{% endif %}
{% endblock %}