{% extends "admin/layout_admin.html" %}
{% block content %}

<h2>Edit</h2>

<h4>Thuoc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ThuocID" />
            <div class="form-group">
                <label asp-for="TenThuoc" class="control-label"></label>
                <input asp-for="TenThuoc" class="form-control" />
                <span asp-validation-for="TenThuoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaoCaoSuDungThuocID" class="control-label"></label>
                <select asp-for="BaoCaoSuDungThuocID" class="form-control" asp-items="ViewBag.BaoCaoSuDungThuocID"></select>
                <span asp-validation-for="BaoCaoSuDungThuocID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

{% endblock %}